[class*="cell"] {
    float: left;
    min-height: 1px;
}
.cell4 {
    width: 510px;
}
.cell3{
    width: 1024px;
}
.cell2{
    width: 680px;
}
.cell1{
    width: 340px;
}
/*Основное*/
html, body{
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}
#wrap{
    min-height: 100%;
}

.block{
    margin: 0 auto;
    width: 1024px;
}
/*Основное конец*/
/*Header*/
#header{
    width: 100%;
    background-color: #247fb8;
    height: 165px;
    margin-bottom: 25px;
}
ul, li{
    margin: 0;
    padding: 0;
}
#logo{
    margin-top: 25px;
}
#logo a{
    background-image: url('../img/logo.png');
    width: 194px;
    height: 29px;
    display: inline-block;
    color: rgba(0,0,0,0);
}
#title{
    font-size: 24px;
    line-height: 80px;
    color: #fff;
}
/*Menu*/
#top_menu{
    height: 85px;
    background-color: #4c4c4c;
    display: block;
}
#ul_menu{
    list-style: none;
}
#ul_menu li{
    display: inline-block;
    line-height: 70px;
    font-size: 24px;
    height: 85px;
    width: auto;
}
#ul_menu li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 7px 25px;
    color: #fff;
    margin-left: -3px;
}
#ul_menu li a:hover{
    background-color: #393939;
}
#ul_menu li a.active{
    background-color: #393939;
}
/*End Menu*/
/*Soc links*/
.soc_links ul{
    list-style: none;
    height: 30px;
    margin-top: 25px;
    margin-left: 170px;
}
.soc_links ul li{
    display: inline-block;
    font-size: 24px;
    height: 30px;
    width: 30px;
}
.soc_links ul li a{
    display: block;
    text-align: center;
    color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    height: 30px;
}
.soc_links ul li a:hover{

}
#vk{
    background-image: url('../img/soc-links.png');
    background-position: 0 0;
}
#fb{
    background-image: url('../img/soc-links.png');
    background-position: -38px 0;
}
#tw{
    background-image: url('../img/soc-links.png');
    background-position: -75px 0;
}
#rss{
    background-image: url('../img/soc-links.png');
    background-position: -112px 0;
}
#ig{
    background-image: url('../img/soc-links.png');
    background-position: -149px 0;
}
/*End Soc Links*/
/*Header End*/
/*Content*/
#content{
    min-height: 100%;
}
.hfooter{
    clear: both;
    height: 150px;
}
.post{
    width: auto;
    height: auto;
    display: block;
    margin-bottom: 15px;
    overflow: auto;
}
div.post div.image img{
    max-height: 300px;
    max-width: 300px;
}
div.comment_head div.wrap_head img{
    max-width: 100px;
    max-height: 100px;
}
div.post div.image img{
    margin-top: 30px;
}
.post_info{
    font-size: 14px;
    color: #c4c4c4;
}
p.post_info span{
    margin-right: 25px;
}
p.post_info span a{
    color: #c4c4c4;
    text-decoration: none;
}
p.post_info span a:hover{
    text-decoration: underline;
}
div.post div.text{
    margin-bottom: 15px;
}
div.post div.text p{
    text-align: justify;
}
div.text h2 a{
    color: #000;
    text-decoration: none;
    font-size: 24px;
}
div.text h2 a:hover{
    text-decoration: underline;
}
/*Form*/
input, textarea{
    background: #fff;
    border-bottom: 2px solid #C4C4C4;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 5px 12px;
}
._form{
    margin-left: 20px;
    width: 300px;
}
#name_form{

}
#email_form{

}
#pass_form{

}
#btn_form{
    margin-top: 15px;
    margin-left: 700px;
    padding: 5px 5px;
    width: 324px;
}
div#content div.block{
    margin-bottom: 50px;
}
/*End form*/
/*End Content*/
/*Footer*/
#footer{
    background-color: #247fb8;
    height: 150px;
    width: 100%;
    margin: -150px 0 auto;
    position: relative;
}
div#logo_footer a{
    display: inline-block;
    color: rgba(0,0,0,0);
    background-image: url('../img/logo.png');
    width: 194px;
    height: 29px;
    margin-top: 60px;
}
div#soc_link_footer div.soc_links{
    margin-left: 170px;
    margin-top: 60px;
}
/*End Footer*/
/*Post*/
div#post.span12 div p{
    margin: 0 0 15px 0;
}
div#post.span12 div p:first-letter{
    margin-left: 25px;
}
#post{
    text-align: justify;
}
.leftimg{
    float:left;
    margin: 7px 7px 0 0;
}
.rightimg{
    vertical-align: bottom;
    margin: 7px 0 5px 7px;
    float: right;
}
.comment_head{
    float: left;
    width: 100px;
}
.text_comment{
    float: right;
    width: 900px;
    margin-top: 15px;
}
div.wrap_head h3{
    margin: 0 0 5px 0;
}
div.wrap_head span{
    font-size: 14px;
    color: #c4c4c4;
}
div.comment div.reply{
    margin-top: 15px;
}
.clear{
    clear: both;
}
/*End Post*/
/*Form*/

#form_comment{
    margin-bottom: 25px;
    height: 200px;
}
#name_and_email{
    display: block;
    height: 40px;
}
#text_comment{
    display: block;
    width: 450px;
}
form.form-comment div button.btn{
    margin-top: 15px;
}
div .close{
    margin-top: 15px;
    padding: 10px 35px;
}
#button_submit{
    display: block;
    float: left;
    margin-bottom: 25px;
}
/*End Form*/
/*Galley*/
div.gallery1 img{
    margin: 0 19px 10px 19px;
}
div.gallery2 img{
    float: left;
    margin-left: 30px;
    margin-bottom: 10px;
}
div.gallery3 img{

}
div.gallery3 table{
    width: 1024px;
}
div.gallery3 table tbody tr td{
    text-align: center;
}
/*End Gallery*/
/*Button*/
.btn{
    display: inline-block;
    *display: inline;
    padding: 10px 30px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #247FB8;
    background-repeat: repeat-x;
    border: 0px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn2{
    display: inline-block;
    *display: inline;
    padding: 0px 0px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    background-repeat: repeat-x;
    border: 0px;
    *border: 0;
}
.icon-refresh{
    background-image: url('../img/icon-refresh.png');
    width: 12px;
    height: 12px;
    background-position: 0;
    position: relative;
    top: 2px;
    margin-bottom: 20px;
}
/*End Button*/
/*css style admin part*/
#admin_form{

}
form#admin_form div label{

}
form#admin_form div p.post_info{
    margin-left: 25px;
    width: 350px;
}
.admin{
    display: inline-block !important;
    width: 100px;
    margin: 10px auto;
}
div.elem_admin div.btn_admin a.btn{
    padding: 10px 0;
}
/*Admin Form*/
div.admin_form_container form#admin_form label{
    display: block;
}
.elem_admin label{
    display: inline-block;
    width: 400px;
    word-wrap: break-word;
}
.elem_admin{
    position: relative;
}
.btn_admin{
    width: auto;
    height: auto;
    position: absolute;
    top: 15px;
    right: 15px;
}
#field_id{
    width: 50px;
}
#field_email{
    width: 150px;
}
#field_created{
    width: 150px;
}
#field_title{
    width: 660px;
}
#field_text{
    width: 660px;
    height: 250px;
}
#field_image{
    width: 250px;
}
#wrap_field_email{
    display: inline-block;
    width: 250px;
}
#wrap_field_created{
    display: inline-block;
    width: 250px;
}
#wrap_field_image_user{
    display: inline-block;
    width: 250px;
}
#form_register{
    margin-top: 250px;
}
.error_block{
     background-color: orangered;
     width: 100%;
     height: 25px;
     margin-bottom: 25px;
 }
.error_block_comment{
    background-color: orangered;
    width: 20%;
    height: 25px;
    margin-bottom: 5px;
}
.success_block{
    background-color: lawngreen;
    width: 100%;
    height: 25px;
    margin-bottom: 25px;
}
div.error_block_comment p{
    margin-left: 25px;
}
div.success_block p{
    margin-left: 25px;
}
div.error_block p{
    margin-left: 25px;
}
.pagination{
    position: absolute;
    top: -50px;
    left: 45%;
    display: block;
    width: auto;
    margin: 0 auto;
}
.pagination a{
    display: inline-block;
    margin: 10px 3px;
    padding: 3px 8px 3px 8px;
    background-color: #247FB8;
    text-decoration: none;
    color: #fff;
}